---
import Layout from '../layouts/Page.astro';
---

<Layout title="Angebote" description="Angebote von mir">
  <p>
    Du möchtest etwas besonderes?
    <br />
     Kein Problem!
  </p>
  <p>
    Teile mir deine Wünsche mit und ich werde dir ein maßgeschneidertes Angebot
    erstellen.
  </p>

  <ul>
    <li><strong>Einladungskarten</strong></li>
    <li>
      <strong>Tischdekoration:</strong>
      <ul>
        <li>Platzsets</li>
        <li>Servietten mit Serviettenringen</li>
      </ul>
    </li>
    <li>
      <strong>Essen und Trinken:</strong>
      <ul>
        <li>Teller</li>
        <li>Trinkbecher</li>
        <li>Dessertschalen</li>
      </ul>
    </li>
    <li>
      <strong>Spiele und Unterhaltung:</strong>
      <ul>
        <li>Kopfschmuck (Hut, Krone, etc.)</li>
        <li>Wanddeko</li>
        <li>Flaschen für Flaschendrehen</li>
        <li>Pianata + Schlagstab</li>
      </ul>
    </li>
    <li><strong>Goodie-Bags</strong></li>
  </ul>
</Layout>
