---
import Layout from '../layouts/Page.astro';
---

<Layout title="Impressum" description="Impressum">
  <p>
    Helga Burke<br />
     Gers Weiden 3<br />
     27412 Kirchtimke<br />
    <a href="mailto:helga.burke.0206+bastelliebe@googlemail.com"
      >helga.burke.0206+bastelliebe@googlemail.com</a
    >
  </p>

  <h2>Rechtliche Hinweise</h2>
  <h3>Auskunfts- und Widerrufsrecht</h3>
  <p>
    Sie haben jederzeit das Recht, sich unentgeltlich und unverzüglich über die
    zu Ihrer Person erhobenen Daten zu erkundigen. Ebenfalls können Sie Ihre
    Zustimmung zur Verwendung Ihrer angegebenen persönlichen Daten mit Wirkung
    für die Zukunft widerrufen. Hierfür wenden Sie sich bitte an den im
    Impressum angegebenen Diensteanbieter.
  </p>

  <h3>Datenschutz (allgemein)</h3>
  <p>
    Beim Zugriff auf unsere Webseite werden automatisch allgemeine Informationen
    (sog. Server-Logfiles) erfasst. Diese beinhalten u.a. den von Ihnen
    verwendeten Webbrowser sowie Ihr Betriebssystem und Ihren Internet Service
    Provider. Diese Daten lassen keinerlei Rückschlüsse auf Ihre Person zu und
    werden von uns statistisch ausgewertet, um unseren Internetauftritt
    technisch und inhaltlich zu verbessern. Das Erfassen dieser Informationen
    ist notwendig, um den Inhalt der Webseite korrekt ausliefern zu können. Die
    Nutzung der Webseite ist grundsätzlich ohne Angabe personenbezogener Daten
    möglich. Soweit personenbezogene Daten (beispielsweise Name, Anschrift oder
    E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
    freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
    nicht an Dritte weitergegeben. Sofern ein Vertragsverhältnis begründet,
    inhaltlich ausgestaltet oder geändert werden soll oder Sie an uns eine
    Anfrage stellen, erheben und verwenden wir personenbezogene Daten von Ihnen,
    soweit dies zu diesem Zwecke erforderlich ist (Bestandsdaten). Wir erheben,
    verarbeiten und nutzen personenbezogene Daten soweit dies erforderlich ist,
    um Ihnen die Inanspruchnahme des Webangebots zu ermöglichen (Nutzungsdaten).
    Sämtliche personenbezogenen Daten werden nur solange gespeichert wie dies
    für den genannten Zweck (Bearbeitung Ihrer Anfrage oder Abwicklung eines
    Vertrags) erforderlich ist. Hierbei werden steuer- und handelsrechtliche
    Aufbewahrungsfristen von uns berücksichtigt. Auf Anordnung der zuständigen
    Stellen müssen wir im Einzelfall Auskunft über diese Daten (Bestandsdaten)
    erteilen, soweit dies für Zwecke der Strafverfolgung, zur Gefahrenabwehr,
    zur Erfüllung der gesetzlichen Aufgaben der Verfassungsschutzbehörden oder
    des Militärischen Abschirmdienstes oder zur Durchsetzung der Rechte am
    geistigen Eigentum erforderlich ist. Wir weisen ausdrücklich darauf hin,
    dass die Datenübertragung im Internet (z. B. bei der Kommunikation per
    E-Mail) Sicherheitslücken aufweisen kann. Vor dem Zugriff auf Daten kann
    nicht lückenlos geschützt werden. Die Nutzung von im Rahmen der
    Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung
    von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien
    wird hiermit ausdrücklich untersagt. Ausgenommen hiervon sind bestehende
    Geschäftsbeziehungen bzw. es liegt Ihnen eine entsprechende Einwilligung von
    uns vor. Die Anbieter und alle auf dieser Website genannten Dritten behalten
    sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
    von Werbeinformationen vor. Gleiches gilt für die kommerzielle Verwendung
    und Weitergabe der Daten.
  </p>

  <h4>Google Analytics 4</h4>
  <p>
    Soweit Sie Ihre Einwilligung erklärt haben, wird auf dieser Website Google
    Analytics 4 eingesetzt, ein Webanalysedienst der Google LLC. Verantwortliche
    Stelle für Nutzer in der EU/ dem EWR und der Schweiz ist Google Ireland
    Limited, Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Irland
    („Google“).
  </p>

  <h5>Art und Zweck der Verarbeitung</h5>
  <p>
    Google Analytics verwendet Cookies, die eine Analyse der Benutzung unserer
    Webseiten durch Sie ermöglichen. Die mittels der Cookies erhobenen
    Informationen über Ihre Benutzung dieser Website werden in der Regel an
    einen Server von Google in den USA übertragen und dort gespeichert.
  </p>

  <p>
    Wir nutzen die Funktion User-ID. Mithilfe der User ID können wir einer oder
    mehreren Sitzungen (und den Aktivitäten innerhalb dieser Sitzungen) eine
    eindeutige, dauerhafte ID zuweisen und Nutzerverhalten geräteübergreifend
    analysieren.
  </p>

  <p>
    Bei Google Analytics 4 ist die Anonymisierung von IP-Adressen standardmäßig
    aktiviert. Aufgrund der IP-Anonymisierung wird Ihre IP-Adresse von Google
    innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen
    Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt.
    Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
    in den USA übertragen und dort gekürzt. Die im Rahmen von Google Analytics
    von Ihrem Browser übermittelte IP-Adresse wird laut Google nicht mit anderen
    Daten von Google zusammengeführt.
  </p>

  <p>
    Während Ihres Website-Besuchs wird Ihr Nutzerverhalten in Form von
    „Ereignissen“ erfasst. Ereignisse können sein:
  </p>
  <ul>
    <li>Seitenaufrufe</li>
    <li>Erstmaliger Besuch der Website</li>
    <li>Start der Sitzung</li>
    <li>Besuchte Webseiten</li>
    <li>Ihr „Klickpfad“, Interaktion mit der Website</li>
    <li>Scrolls (immer wenn ein Nutzer bis zum Seitenende (90%) scrollt)</li>
    <li>Klicks auf externe Links</li>
    <li>interne Suchanfragen</li>
    <li>Interaktion mit Videos</li>
    <li>Dateidownloads</li>
    <li>gesehene / angeklickte Anzeigen</li>
    <li>Spracheinstellung</li>
  </ul>

  <p>Außerdem wird erfasst:</p>
  <ul>
    <li>Ihr ungefährer Standort (Region)</li>
    <li>Datum und Uhrzeit des Besuchs</li>
    <li>Ihre IP-Adresse (in gekürzter Form)</li>
    <li>
      technische Informationen zu Ihrem Browser und den von Ihnen genutzten
      Endgeräten (z.B. Spracheinstellung, Bildschirmauflösung)
    </li>
    <li>Ihr Internetanbieter</li>
    <li>
      die Referrer-URL (über welche Website/ über welches Werbemittel Sie auf
      diese Website gekommen sind)
    </li>
    <li>Zwecke der Verarbeitung</li>
    <li>
      Im Auftrag des Betreibers dieser Website wird Google diese Informationen
      benutzen, um Ihre Nutzung der Website auszuwerten und um Reports über die
      Website-Aktivitäten zusammenzustellen. Die durch Google Analytics
      bereitgestellten Reports dienen der Analyse der Leistung unserer Website
      und des Erfolgs unserer Marketing-Kampagnen.
    </li>
  </ul>

  <h5>Empfänger</h5>
  <p>Empfänger der Daten sind/können sein</p>
  <ul>
    <li>
      Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland (als
      Auftragsverarbeiter nach Art. 28 DSGVO)
    </li>
    <li>Google LLC, 1600 Amphitheatre Parkway Mountain View, CA 94043, USA</li>
    <li>
      Alphabet Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA
    </li>
    <li>Drittlandtransfer</li>
  </ul>

  <p>
    Für die USA hat die Europäische Kommission am 10. Juli 2023 ihren
    Angemessenheitsbeschluss angenommen. Google LLC ist nach dem EU-US Privacy
    Framework zertifiziert. Da Google-Server weltweit verteilt sind und eine
    Übertragung in Drittländer (beispielsweise nach Singapur) nicht völlig
    ausgeschlossen werden kann, haben wir mit dem Anbieter zudem die
    EU-Standardvertragsklauseln abgeschlossen.
  </p>

  <h5>Speicherdauer</h5>
  <p>
    Die von uns gesendeten und mit Cookies verknüpften Daten werden nach 2
    Monaten automatisch gelöscht. Die maximale Lebensdauer der Google Analytics
    Cookies beträgt 2 Jahre. Die Löschung von Daten, deren Aufbewahrungsdauer
    erreicht ist, erfolgt automatisch einmal im Monat.
  </p>

  <h5>Rechtsgrundlage</h5>
  <p>
    Rechtsgrundlage für diese Datenverarbeitung ist Ihre Einwilligung gem. Art.6
    Abs.1 S.1 lit.a DSGVO und § 25 Abs. 1 S.1 TTDSG.
  </p>

  <h5>Widerruf</h5>
  <p>
    Sie können Ihre Einwilligung jederzeit mit Wirkung für die Zukunft
    widerrufen, indem Sie die <a href="/cookies">Cookie-Einstellungen</a>
     aufrufen und dort Ihre Auswahl ändern. Die Rechtmäßigkeit der aufgrund der
    Einwilligung bis zum Widerruf erfolgten Verarbeitung bleibt davon unberührt.
  </p>

  <p>
    Sie können die Speicherung von Cookies auch von vornherein durch eine
    entsprechende Einstellung Ihrer Browser-Software verhindern. Wenn Sie Ihren
    Browser so konfigurieren, dass alle Cookies abgelehnt werden, kann es jedoch
    zu Einschränkung von Funktionalitäten auf dieser und anderen Websites
    kommen. Sie können darüber hinaus die Erfassung der durch das Cookie
    erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer
    IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google
    verhindern, indem Sie
  </p>

  <ol type="a">
    <li>Ihre Einwilligung in das Setzen des Cookies nicht erteilen oder</li>
    <li>
      das Browser-Add-on zur Deaktivierung von Google Analytics HIER
      herunterladen und installieren.
    </li>
  </ol>

  <p>
    Nähere Informationen zu Nutzungsbedingungen von Google Analytics und zum
    Datenschutz bei Google finden Sie unter
    <a
      href="https://marketingplatform.google.com/about/analytics/terms/de/"
      target="_blank"
      >https://marketingplatform.google.com/about/analytics/terms/de/</a
    > und unter
    <a href="https://policies.google.com/?hl=de" target="_blank"
      >https://policies.google.com/?hl=de</a
    >.
  </p>
</Layout>
