---
import Layout from '../layouts/Page.astro';
---

<Layout title="Kontakt" description="Wie du mich kontaktieren kannst">
  <p>Ich habe dein Interesse geweckt?</p>

  <p>Du hast Fragen, Wünsche oder Anregungen?</p>

  <p>
    Hier hast du die Möglichkeit, mich zu kontaktieren. Ich freue mich auf deine
    Nachricht!
  </p>

   Email: <a
    href="mailto:helga.burke.0206+bastelliebe@gmail.com?subject=Bastel%20Liebe"
    >helga.burke.0206@gmail.com</a
  ><br />
   Telefon: <a href="tel:+4915782023088">+49 1578 2023088</a><br />
   Whatsapp: <a href="https://wa.me/4915782023088">+49 1578 2023088</a><br />
</Layout>
