---
import Layout from '../layouts/Page.astro';
---

<Layout title="Mottos" description="Liste moeglicher Mottos">
  <ul>
    <li>Astronaut / Weltall</li>
    <li>Bauernhof</li>
    <li>Detektiv</li>
    <li>Dinosaurier</li>
    <li>Drachen</li>
    <li>Dschungel</li>
    <li>Einhömer</li>
    <li>Einsteins Labor (Wissenschaftsparty)</li>
    <li>Feen</li>
    <li>Feuerwehr</li>
    <li>Fussball</li>
    <li>Halloween</li>
    <li>Hexen + Zauberei</li>
    <li>Hunde + Katzen</li>
    <li>Meerjungfrauen</li>
    <li>Monster</li>
    <li>Piraten</li>
    <li>Polizei</li>
    <li>Prinzessinen</li>
    <li>Ritter und Burgen</li>
    <li>Roboter</li>
    <li>Safarie</li>
    <li>Superhelden und Schurken</li>
    <li>Unterwasserwelt</li>
    <li>Wikinger</li>
    <li>Wilder Westen (Cowboys und Eingeborene)</li>
    <li>Winterwunderland</li>
  </ul>
</Layout>
